body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #070707;
}


.content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  color: white;
}


.main-title {
  margin-bottom: 2rem;
}


.main-title h1 {
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 1rem; 
  text-align: center;
}


.main-title p {
  font-weight: normal;
  font-size: 18px;
  color: #cccccc;
  margin-bottom: 1rem;
  text-align: center; 
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.project-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 50%;
  max-width: 250%;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: slideIn 0.5s ease-out forwards;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.project-title {
  font-size: 22;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  max-width: calc(7 * 20px + 2 * 1rem);
  
}

.languages i {
  width: 20px;
  height: auto;
}

.languages a {
  color: white;
  text-decoration: none;
}

.languages a:hover,
.languages i:hover {
  color: #FFD700;
}
